{% extends "otomasiAcl/base.html" %}

{%block content%}
<div class="row d-flex align-items-md-stretch">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <form method="GET" class="text-left">
        {% csrf_token %}
        <div class="card-body">
        <div class="row spacer">
        </div>
        </div>
        <div class="form-group text-left">
            <button class="btn btn-outline-info" type="submit" name="btnform1"> + | Start System </button>
        </div>
    </form>  
            </div>
            
            <div class="card">
            <div class="card-body">
            <table class="table">
                <tr>
                    <th>IP Attacker</th>
                    <th>Destination IP</th>
                    <th>Attacked Port</th>
                    <th>Config Access-List</th>
                    <th>Delete</th>
                </tr>
                {% for iptable in ip %}
                <tr>
                    <td>{{ iptable.Ip }}</td>
                    <td>{{ iptable.destination }}</td>
                    <td>{{ iptable.port }}</td>
                    <td>{{ iptable.acl }}</td>
                    <td><form action="{% url 'deleteIp' iptable.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn-sm btn-danger"> Delete
                        </button>
                </form></td>
                </tr>
                {% endfor %}
            </table>
    {%endblock content%}